@import url('config.css');

html {
    height: 100vh;
    width: 100vw;
}

body {    
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'roboto', sans-serif;
    background-color: black;
    background: linear-gradient(#a32983, #000000);
    background-image: url(../img/bg.jpg);
}

h1 {
    display: inline-flex;
    border: 0;
    margin: 0;
    padding: 0 10px;

    background-color: #880000;
    border-radius: 10px;
}

h2 {
    margin: 0;
}

span {
    color: #ffffff50;
}

.titulo a{
    color: #ffffff;
    text-decoration: none;
}

.titulo {
    margin: 0;
    display: flex;
}

.barra-cabecalho {
    height: 37px;
    width: 100%;

    background-color: #000000;
    border: 1px solid #000000;
}

.alinhamento {
    margin: 0 20%;
}

.menu-nav {
    position: relative;
    margin: auto 0 auto 20%;
}

.menu-nav li{
    display: inline;
    margin: 0 30px;
}

.conteudo-principal {
    position: relative;
    height: 880px;
    width: 100%;
}

.rodape {
    height: 50px;
    width: 100%;
    text-align: center;
}

.link-menu {
    font-size: 1vw;    
}

.div-entrada {
    position: relative;
    top: 8em;
    right: 10em;
    background-color: #ffffffb0;
    border-radius: 20px;
    width: 30em;
    height: 25em;
}

.conteudo:not(h2) {
    margin: 50px 50px;
    font-size: 30px;
}

.conteudo p {
    padding: 50px 0;
    margin: 0;
    text-align: center;

    color: #900070;
}

.conteudo b {
    font-size: 45px;
    text-shadow: 1px 1px 3px #f000f0, 1px 1px 5px #d910d9;
}